.header {
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 1000;
}


@media (min-width: 992px) {
    .header {
        position: sticky;
        left: 0;
        right: 0;
        width: auto;
    }
}