.filter-container {
    height: 100%;
    width: 100%;
    background: var(--bg-white);
    position: fixed;
    display: block;
    top: 0;
    left: -100%;
    z-index: 1000;
    /* min-width: 220px;
    max-width: 220px; */
    overflow-y: scroll;
}
.open-sort-menu {
    left: 0;
}
.close-icon {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 2rem;
    cursor: pointer;
}
.filter-container h1 {
   
 
    padding: 1rem 0 0 1rem;
}



@media (min-width: 992px) {
    .filter-container {
        position: static;
        height: auto;
        min-width: 220px;
        max-width: 220px;
        z-index: 0;
    }
}