.cart {
    min-height: 30vh;
    background: var(--white);
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}

.empty-cart-text {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.3rem;
}


.cart-table th,
.cart-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.cart-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}


.cart-product-info {
    display: flex;
    align-items: center;
    gap: 1rem;
   

}

.cart-product-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.cart-product-details {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.brand-name {
    font-weight: bold;
    font-size: 1rem;
}

.product-name {
    font-size: 1rem;
}

.quantity-container {
    display: flex;
    align-items: center;
}

.quantity-btn-groupe {
    display: flex;
    flex-direction: column;
}

.cart-page .cart-summary {
    margin: 1rem auto;
    width: 100%;
}

.cart-page .cart-buttons {

    justify-content: center;
}





/* checkout page */


.cart-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.cart-page-content .form {
    margin: 0;
}

.cart-summary {
    margin-top: 1.2rem;
    padding: 15px;
    background-color: #f8f8f8;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    width: 300px;
}

.cart-summary p {
    margin: .5rem 0;
}

.cart-summary span {
    font-size: 14px;
    color: #888;
}

.cart-summary h3 {
    margin-bottom: .8rem;
    padding-bottom: .4rem;
    border-bottom: 2px solid #999;
}

.cart-summary .amount-container {
    margin-top: 2rem;
    border: 1px solid var(--bg-grey);
    padding: .5rem;
    border-radius: 5px;
}

.cart-summary .total-amount {
    color: var(--red);
    font-size: 1.2rem;
    margin-top: .4rem;
}

.cart-buttons {
    margin-top: 20px;
    display: flex;
    gap: 1rem;
}



@media (min-width: 768px) {
    .cart-page-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
    }
}