.card {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;justify-content: space-between;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    border: 1px dashed rgba(221, 221, 221, 1);
    padding: 1rem;
    /* box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; */
}
.card:hover {
    box-shadow:  0 5px 30px -5px rgba(0, 0, 0, 0.15);
    z-index: 1;
}
.top img {
    width: 100%;
}

