.card {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;justify-content: space-between;
    width: 250px;
    background: rgba(255, 255, 255, 1);
    padding: 1rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.card:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.top img {
    width: 100%;
}

