.profile-icon {
    font-size: 3rem;
    margin-top: 2rem;
}

.menu-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

    transition: transform 0.3s ease;
    cursor: pointer;
}

.menu-card:hover {
    transform: translateY(-5px);
}

.menu-link {
    text-decoration: none;
    color: #333;
}

.menu-link h3 {
    padding: 1rem;
}

.delete-card {
    background-color: tomato;
}