.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 0;
}

.logo {
    width: 450px;
}

.header-right {
    height: 2.5rem;
    display: flex;
    gap: 2rem;
}

.header-search-input {
    border: 1px solid #999;
    display: flex;
}

.search-input {
    border: none;
    padding: 0 .6rem;
    font-size: 1rem;
    width: 300px;
    background: var(--white);
}

.search-input:focus {
    outline: none;
}

.header-cart-icon {
    display: flex;
    align-items: center;
    border: 1px solid #999;
    cursor: pointer;
    position: relative;
}

.cart-content {
    padding: 0 .6rem;
    font-size: 1rem;
    background: var(--white);
    height: 100%;
    display: flex;
    align-items: center;
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: var(--main-color); */
    height: 100%;
    width: 2.5rem;
    padding: .5rem;

}

.btn-icon img {
    width: 100%;
}
.btn-login {
    border: 1px solid #999;
    padding: 0 1rem;
}
.dot {
    position: absolute;
    min-width: 20px;
    min-height: 20px;
    background-color: var(--main-color);
    border-radius: 50px;
    top: -8px;
    right: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}