.footer {
    width: 100%;
    min-height: 30vh;
    background-color: #ddd;
    padding: 2rem;
}
.footer-logo {
    height: 4rem;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
}
.footer-bottom {
    background: var(--bg-grey);
    text-align: center;
    font-size: .8rem;
    padding: .5rem;
    color: var(--bg-white);
}


@media (min-width: 992px) {
    .footer-wrapper {
        flex-direction: row;
    }
}