.footer {
    width: 100%;
    min-height: 30vh;
    background-color: #ddd;
    padding: 2rem;
}
.footer-logo {
    height: 4rem;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
}



@media (min-width: 992px) {
    .footer-wrapper {
        flex-direction: row;
    }
}