.products {
    min-height: 100vh;
    background: var(--white);
    padding: 2rem;
}

.product-container {
    width: 100%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.filter-container {
    height: 100%;
    width: 100%;
    background: tomato;
}

.product-card-container {
    width: 100%;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr;
}

.title {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2rem;
}


@media (min-width: 576px) {
    .product-card-container {
        grid-template-columns:repeat(2, 1fr);
    }
}


@media (min-width: 768px) {
    .product-card-container {
        grid-template-columns:repeat(3, 1fr);
    }
}




@media (min-width: 992px) {
    .product-container {
        flex-direction: row;
    }

    .filter-container {
        height: auto;
        width: 300px;
        background: tomato;
    }
}

@media (min-width: 1200px) {
    .product-card-container {
        grid-template-columns:repeat(4, 1fr);
    }
}


@media (min-width: 1400px) {}