@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Oxygen:wght@300;400;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'brands';
  src: url('./fonts/PostNoBillsJaffna-ExtraBold.ttf');
}

/* Variables */
:root {
  --main-color: #b92038;
  --white: #fff;
  --orange: #EB5900;
  --green: rgb(24, 161, 24);
  --red: red;
  --bg-white: #eee;
  --bg-light-grey: #dfdfdf;
  --bg-grey-1: #bbb;
  --bg-grey: #333;
  --footer-text: #555;
  --black: #222;
  --box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  --brand-font: 'brands';
}


/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: var(--white);
  font-family: 'Open Sans', sans-serif;
  min-width: 350px;
  position: relative;

}

li {
  list-style: none;
}

a {
  text-decoration: none;

}

.w1400 {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.dflex {
  display: flex;
}

.btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.main-btn {
  border: 1px solid var(--bg-grey);
  background: transparent;
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem 1rem;
}

.main-btn:hover {
  background-color: var(--main-color);
  color: var(--bg-white);
}

.red-btn {
  border: 1px solid var(--bg-grey);
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem 1rem;
  background-color: var(--main-color);
  color: var(--bg-white);
}

.red-btn:hover {
  background-color: transparent;
  color: var(--bg-grey);
}

.main-container {
  text-align: center;
  width: 100%;
  min-height: 40vh;
  margin: 20px auto;
  padding: .5rem;
}

.main-container h1 , .main-container h2{
  text-align: center;
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}





/* delete btn */
.btn.delete-btn {
  padding: 8px 16px;
  background-color: rgb(226, 2, 2);
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn.delete-btn:hover {
  background-color: rgb(184, 2, 2);
}

.trash-icon {
  font-size: 1.2rem;
}
.error-message {
  text-align: center;
  color: var(--red);
  padding: .5rem;
}

.success-message {
  text-align: center;
  color: var(--green);
  padding: .5rem;
}
.quantity-btn {
  max-width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
}

@media (min-width: 992px) {
  .main-container {
    text-align: start;
    max-width: 1300px;
    margin: 20px auto;
  }
}